when HTTP_REQUEST {
  switch HTTP::host { {% for i in hosts %}
    "{{ i.name }}" {
      switch -glob [string tolower [HTTP::path]] { {% for ii in i.paths %}
        "{{ ii.name }}" { {{ ii.action }} {{ ii.target }} } {% endfor %}
        default { {{ defaultaction }} }
      }
    } {% endfor %}
    default { {{ defaultaction }} }
  }
}